<!doctype html>
<html>
<head>
     <title>Calling Requests</title>
</head>
<body>
    <h2>Choose The options below:</h2>
    <ol>
        <li> <a href="https://nodeexpressproject-258814.appspot.com/hello">Hello</a> </li>
        <li> <a href="https://nodeexpressproject-258814.appspot.com/timesHelloed">Times Helloed</a> </li> 
        <li> <a href="https://nodeexpressproject-258814.appspot.com/resetTimesHelloed">Reset</a> </li> 
    </ol>
</body>

</html>
